@media ( max-width: 768px ) {
  * {
    overflow: none;
  }

  .new-profile {
    height: 100%;
  }
  
  .new-profile .title {
    margin: 40px 20px 26px 20px;
    font-size: 20px;
  }

  .new-profile .list div {

  }

  .new-profile .okay {
    border-radius: 20px;
    margin-bottom: 30px;
  }
}